@font-face {
    font-family: "Chomsky";
    src: url("Chomsky-8MOa2.otf");
}


*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

:root {
    --text: #e4f8e2;
--background: #0718056f;
--primary: #9be58d;
--secondary: #1e3183;
--accent: #7e3fd3;

    

}
html{
    background-image: linear-gradient(90deg, #003300, #7e3fd3 );
    font-family: "Libre Franklin";
}
a{ 
    font-family:Arial, Helvetica, sans-serif ;
    color: var(--secondary);
    font-size: 14px;
}

table{
    margin: 0 auto;
    width: 1000px;
    height: 860px;
    text-align: center;
    background-color: var(--background);
}

thead tr,tfoot tr{
    height: 70px;
}

thead tr td, tfoot tr td{
   background:#9ce58d;
}

thead{
    background: #9ce58da8 ;
}
thead tr td ul{
    text-align: right;
    list-style-type: none;
    padding-top: 40px;
}

thead tr td ul h1{
    font-family:"Chomsky" ;
    font-size: 90px;
    color: var(--text);
    background-color: red ;
    background-image: linear-gradient(90deg,#003300 ,var(--accent) 90%);
    background-size: 100%;
    background-repeat:repeat ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke: 0px #00aaaa76

}
thead tr td ul li{
    display: inline;
    margin-right: 20px;
}

tr td ul li a{
    text-decoration: none;
}

tr td ul li a:hover{
    color: var(--text);
    text-decoration: underline;
}

tbody tr td{
    border-left: solid var(--text) 0px;
    vertical-align: top;
}

tbody tr td h4{
    width: 100%;
    background-color: var(--primary);
    color: var(--secondary);
    padding-top: 5px;
    padding-bottom: 5px;
}

tbody tr td ul{
    padding-left: 10px;
    padding-top: 7px;
    list-style-type: none;
}

tbody tr td ul li{
    padding-left: 10px;
    text-align: left;
    line-height: 1.5;
}

tbody tr td h2, tbody tr td a p{
    font-family:"Libre Franklin" ;
    text-align: left;
}

tbody tr td h2{
   background-color: red ;
   background-image: linear-gradient(45deg,var(--primary) ,var(--accent));
   background-size: 100%;
   background-repeat:repeat ;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
    font-size: 30px;
    padding-left: 15px;
}

tbody tr td a{
    color: var(--text);
    text-decoration: none;
}

tbody tr td a:hover{
    color: #F0F0Af;
    text-decoration: underline;

}

tbody tr td a p{
    font-size: 15px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

tbody tr td a p img{
    width: 170px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

tbody tr td#parceiros{
    width: 150px;
    border-right: solid var(--accent) 0px;
}

tbody tr td.menu{
    width: 200px;
}

























